<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>운동기구 : 작성화면</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>

<div align="center">
<H2>운동기구:작성화면 </H2>
<HR>
[<a href="explainMachine.do">운동기구 목록으로</a>] <P>
<form name=form1 method=post action="insertMachine.do">
<input type=hidden name="action" value="insert">

<table border="1">
		  <tr>
		    <th>이 름</th>
		    <td><input type="text" name="machineName" th:value="${vo.machineName}"></td>
		  </tr>
		  <tr>
		    <th>구입일자</th>
		    <td><input type="date" name="machinePurchaseDate" th:value="${#temporals.format(vo.machinePurchaseDate, 'yyyy-MM-dd')}"></td>
		  </tr>
		    <tr>
		    <th>가격</th>
		    <td><input type="text" name="machinePrice" th:value="${#numbers.formatDecimal(vo.machinePrice, 0, 'COMMA', 0, 'POINT')} + '원'"></td>
		  </tr>
		      <tr>
		    <th>AS 번호</th>
		    <td><input type="text" name="machineServiceContact" th:value="${vo.machineServiceContact}"></td>
		  </tr>
		  
		  	<tr>
		    <td colspan=2 align=center><input type=submit th:value="저장"><input type=reset value="취소"><input type="button" value="삭제" onClick="delcheck()"></td>
			</tr>
	</table>
	
	
</form>
<a href="logout_control.jsp">logout</a>
</div>


</body>
</html>
